<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="galil_ros2_control">
    <ros2_control name="galil" type="system">
      <hardware>
        <xacro:if value="$(arg use_simulation)">
          <plugin>ign_ros2_control/IgnitionSystem</plugin>
        </xacro:if>
        <xacro:unless value="$(arg use_simulation)">
          <xacro:if value="$(arg use_fake_hardware)">
            <plugin>mock_components/GenericSystem</plugin>
          </xacro:if>
          <xacro:unless value="$(arg use_fake_hardware)">
            <plugin>galil_driver/GalilSystemHardwareInterface</plugin>
            <param name="ip_address">169.254.0.51</param>
            <param name="check_timeout">0.1</param> 
          </xacro:unless>
        </xacro:unless>
     </hardware>
      
      <joint name="insertion_joint">
        <command_interface name="position">
          <param name="min">0</param>
          <param name="max">0.1</param>
        </command_interface>
        <command_interface name="velocity">
          <param name="min">-0.005</param>
          <param name="max"> 0.005</param>
        </command_interface>
        <xacro:unless value="$(arg use_simulation)">
          <command_interface name="real_velocity"/>
        </xacro:unless>
        <xacro:if value="$(arg use_simulation)">
          <param name="gear_ratio">1.0</param>
        </xacro:if>
        <xacro:unless value="$(arg use_simulation)">
          <param name="gear_ratio">1000000.0</param>
        </xacro:unless>
        <param name="torque_constant">1.0</param>
        <param name="position_max_velocity">0.005</param>
        <param name="real_velocity_kp">100</param>
        <param name="real_velocity_ki">0</param>
        <param name="real_velocity_kd">64</param>
        <param name="real_velocity_it">1</param>
        <param name="real_velocity_ac">256000</param>
        <param name="real_velocity_dc">256000</param>
        <state_interface name="position">
          <param name="initial_value">0</param>
        </state_interface>
        <state_interface name="velocity"/>
        <state_interface name="effort"/> 
      </joint>

      <joint name="horizontal_joint">
        <command_interface name="position">
          <param name="min">-0.03</param>
          <param name="max"> 0.03</param>
        </command_interface>
        <command_interface name="velocity">
          <param name="min">-0.005</param>
          <param name="max"> 0.005</param>
        </command_interface>
        <xacro:unless value="$(arg use_simulation)">
          <command_interface name="real_velocity"/>
        </xacro:unless>
        <xacro:if value="$(arg use_simulation)">
          <param name="gear_ratio">1.0</param>
        </xacro:if>
        <xacro:unless value="$(arg use_simulation)">
          <param name="gear_ratio">1000000.0</param>
        </xacro:unless>
        <param name="torque_constant">1.0</param>
        <param name="position_max_velocity">0.005</param>
        <param name="real_velocity_kp">100</param>
        <param name="real_velocity_ki">0</param>
        <param name="real_velocity_kd">64</param>
        <param name="real_velocity_it">1</param>
        <param name="real_velocity_ac">256000</param>
        <param name="real_velocity_dc">256000</param>
        <state_interface name="position">
          <param name="initial_value">0</param>
        </state_interface>
        <state_interface name="velocity"/>
        <state_interface name="effort"/> 
      </joint>

      <joint name="vertical_joint">
        <command_interface name="position">
          <param name="min">   0</param>
          <param name="max">0.05</param>
        </command_interface>
        <command_interface name="velocity">
          <param name="min">-0.005</param>
          <param name="max"> 0.005</param>
        </command_interface>
        <xacro:unless value="$(arg use_simulation)">
          <command_interface name="real_velocity"/>
        </xacro:unless>
        <xacro:if value="$(arg use_simulation)">
          <param name="gear_ratio">1.0</param>
        </xacro:if>
        <xacro:unless value="$(arg use_simulation)">
          <param name="gear_ratio">1000000.0</param>
        </xacro:unless>
        <param name="torque_constant">1.0</param>
        <param name="position_max_velocity">0.005</param>
        <param name="real_velocity_kp">100</param>
        <param name="real_velocity_ki">0</param>
        <param name="real_velocity_kd">64</param>
        <param name="real_velocity_it">1</param>
        <param name="real_velocity_ac">256000</param>
        <param name="real_velocity_dc">256000</param>
        <state_interface name="position">
          <param name="initial_value">0</param>
        </state_interface>
        <state_interface name="velocity"/>
        <state_interface name="effort"/> 
      </joint>
      
      <joint name="needle_drive_joint">
        <command_interface name="position">
          <param name="min">   0</param>
          <param name="max">0.05</param>
        </command_interface>
        <command_interface name="velocity">
          <param name="min">-0.005</param>
          <param name="max"> 0.005</param>
        </command_interface>
        <xacro:unless value="$(arg use_simulation)">
          <command_interface name="real_velocity"/>
        </xacro:unless>
        <xacro:if value="$(arg use_simulation)">
          <param name="gear_ratio">1.0</param>
        </xacro:if>
        <xacro:unless value="$(arg use_simulation)">
          <param name="gear_ratio">7880000.0</param>
        </xacro:unless>
        <param name="position_max_velocity">0.005</param>
        <param name="torque_constant">0.0459</param> <!--confirmed from motor datasheet-->
        <param name="real_velocity_kp">35</param>
        <param name="real_velocity_ki">0</param>
        <param name="real_velocity_kd">50</param>
        <param name="real_velocity_it">1</param>
        <param name="real_velocity_ac">256000</param>
        <param name="real_velocity_dc">256000</param>
        <state_interface name="position">
          <param name="initial_value">0</param>
        </state_interface>
        <state_interface name="velocity"/>
        <state_interface name="effort"/> 
      </joint>
    </ros2_control>
    <xacro:if value="$(arg use_simulation)">
      <gazebo>
        <plugin filename="libign_ros2_control-system.so" name="ign_ros2_control::IgnitionROS2ControlPlugin">
          <parameters>$(find galil_driver)/config/galil_controllers_sim.yaml</parameters>
          <controller_manager_node_name>controller_manager</controller_manager_node_name>
        </plugin>
      </gazebo>
    </xacro:if>
  </xacro:macro>

</robot>
